<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{#meta.title}}{{meta.title}} - {{/meta.title}}{{config.site_title}}</title>
	{{#meta.description}}<meta name="description" content="{{meta.description}}">{{/meta.description}}
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="stylesheet" href="/blog/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/blog/bower_components/highlightjs/styles/solarized_light.css">
	<link rel="stylesheet" href="/blog/styles/raneto.css">

	{{{config.analytics}}}
</head>
<body class="{{body_class}}">

	<header class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">

					<a href="/" class="logo">{{config.site_title}}</a>

				</div>
				<div class="col-sm-6">

					<form class="search-form form-inline pull-right" role="form" action="/">
						<div class="form-group">
							<label class="sr-only" for="search">Search</label>
							<input type="search" class="form-control" name="search" id="search" size="30" value="{{search}}" placeholder="Search">
						</div>
					</form>

				</div>
			</div>
		</div>
	</header>

	<div class="container-fluid">
		{{{ yield }}}
	</div>

	<footer class="footer">
		<div class="container-fluid">

			{{#config.copyright}}
			<p class="copyright pull-right">{{{config.copyright}}}</p>
			{{/config.copyright}}

		</div>
	</footer>

	<script src="/blog/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/blog/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/blog/bower_components/highlightjs/highlight.pack.js"></script>
	<script src="/blog/bower_components/fitvids/jquery.fitvids.js"></script>
	<script src="/blog/bower_components/masonry/dist/masonry.pkgd.min.js"></script>
	<script src="/blog/scripts/raneto.js"></script>

</body>
</html>
